class Rechnomat < Formula
  include Language::Python::Virtualenv

  desc "Rechnomat - Create invoices compliant with German E-Rechnung laws"
  homepage "https://github.com/sebastianhaberey/rechnomat"
  url "{{URL}}"
  sha256 "{{SHA256}}"
  license "MIT"

  depends_on "python@{{PYTHON_VERSION}}"

{{BOTTLES_BLOCK}}

{{RESOURCES}}

{{WHEEL_RESOURCES}}

  def install
    virtualenv_install_with_resources without: {{WITHOUT_RESOURCES}}
{{WHEEL_INSTALL_STEPS}}
  end

  test do
    assert_match "rechnomat", shell_output("#{bin}/rechnomat --help")
  end
end
